#siteContainer{
    min-height: 100%;
    position: relative;
    background: #888888;
}
﻿@font-face {
    font-family: 'hvcbold';
    src: url('hvcbold.eot');
    src: url('hvcbold.eot?#iefix') format('embedded-opentype'),
    url('hvcbold.woff') format('woff'),
    url('fonts/hvcbold.ttf') format('truetype'),
    url('hvcbold.svg#univers_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    overflow: auto;
}
html,body {
    height: 100%;
}

.siteContainer{
    min-height: 100%;
    position: relative;
    background: #888888;
}

.centered{
    width: 1185px;
    margin: 0 auto;
}

.left{
    float: left;
}
.right{
    float: right;
}

a {
    text-decoration: none;
    color: white;
}

body {
    font-size: 14px;
    font-family: 'hvcbold', Helvetica;
}

footer .links,
.filters a {
    color: #a3a3a3;
}

.mapHolder{
    width: 100%; /*TODO: Remove. View fix*/
    margin: 0 auto;
    position: relative;
}
.mapHolder img {
    width: 100%; /*TODO: REMOVE if not needed*/
}
.mapHolder .tooltip {
    position: absolute;
}

header, footer{
    height: 40px;
    line-height: 15px;
    background: black;
}

header{
    color: white;
}
header .logo img {
    display: block;
}
header .siteMenu a {
    font-weight: bold;
}
header .searchWrap {
    padding: 0 30px 0 50px;
}
header .formSearch {
    position: relative;
}

header .formSearch .txtSearch {
    width: 285px;
    height: 30px;
    padding: 0 25px 0 30px;
    border: 0 none;
    border-radius: 45px;
    outline: none;
    background: url(images/lens.png) no-repeat 10px 50% white;   /*Add box-shadow*/
}

header .formSearch .btnClear {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 5px;
}
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
footer .logo {
    padding-left: 110px;
}
footer .links {
    padding-right: 10px;
}
footer .links li {
    padding-right: 20px;
    float: left;
}
/*CONTENT*/
.content{
    padding: 0 0 60px;
}
#location{width: 100%;margin: 0 auto;position: relative;}
#map_canvas{height: 350px;width: 100%}
