/* 
    Document   : style
    Created on : Jul 12, 2011, 9:08:10 AM
    Author     : s.kolodyazhnyy
    Description:
        Sample style file
*/
@import url(messages.css);
@import url(content.css);

body { margin: 0px; padding: 0px; background: white; }

.dark-background {
    background: rgb(78,78,78); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(78,78,78,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(78,78,78,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(78,78,78,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(78,78,78,1) 0%,rgba(0,0,0,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(78,78,78,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(78,78,78,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
}

#site-holder { width: 1000px; margin: 0 auto; }

#header { background: white; position: relative; border: 2px solid white; padding: 0px 0px 15px; margin: 0 3px 0 5px; height: 56px; min-width: 600px; }
#header .logo { background: white; font-family: Ubuntu, sans-serif; float: left; font-size: 44px; padding: 10px 15px; text-shadow: 1px 1px 0px #ddd; }
#header .logo .blue { color: #3399aa; }
#header .logo .subtitle { font-size: 13px; line-height: 13px; margin-top: -12px; color: #888; }
#header .top-menu { position: absolute; right: 0px; top: 0px; }
#header .top-menu ul { list-style: none; padding: 0; margin: 0px; }
#header .top-menu ul li { float: left; list-style: none; padding:6px; }

#menu-container { background: #999; height: 50px; margin: 0 5px;  }

#menu-container ul { list-style: none; padding: 0px; margin: 0px; height: 50px; overflow: hidden; }

#menu-container ul li {
    float: left; list-style: none; margin: 0px; padding: 0px; 
    border-right: 2px solid white;
    background: #888;
    font-family: sans-serif;
}

#menu-container ul li:hover, #menu-container ul li.hovered {
    background: rgb(51,153,170); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(51,153,170,1) 0%, rgba(41,105,137,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,153,170,1)), color-stop(100%,rgba(41,105,137,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(51,153,170,1) 0%,rgba(41,105,137,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(51,153,170,1) 0%,rgba(41,105,137,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(51,153,170,1) 0%,rgba(41,105,137,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3399aa', endColorstr='#296989',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(51,153,170,1) 0%,rgba(41,105,137,1) 100%); /* W3C */
}

#menu-container ul li a { color: white; text-decoration: none; font-size: 16px; text-shadow: black 1px 1px 0px; line-height: 50px; height: 50px; display: block; margin: 0px; padding: 0px 35px; }

#content { padding: 0 25px 15px; }

#footer { clear: both; font-size: 12px; color: #777; padding: 20px; border-top: 1px solid #aaa; margin: 0px 10px; }
#footer ul { margin: 0px auto; padding: 0px; }
#footer li { float: left; margin: 10px; list-style: none; }

.with-left-col { margin-left: 210px; }
#left-col { width: 190px; padding: 25px 0 0 15px; margin-right: -190px; float: left; }

.with-right-col { margin-right: 210px; }
#right-col { width: 190px; padding: 25px 15px 0 0; margin-left: -190px; float: right; }


.logo img { vertical-align: -20%; margin-right: 5px; }
