<?xml version="1.0" encoding="UTF-8"?>
<config>
    <global>
		<modules>
            <Iwe_Ratings translate="description,name">
            	<name>IWE Ratings</name>
                <author>Seven Core Team &lt;ilya@sevenframework.com&gt;</author>
                <description>Ratings</description>
                <version>1.0.3</version>
                <depends>
                	<Seven_Core>0.1.0</Seven_Core>
                </depends>                
            </Iwe_Ratings>
        </modules>
    </global>
</config>
