<?xml version="1.0" encoding="UTF-8"?>
<config>
    <global>
		<modules>
            <Iwe_Subject translate="description">
                <author>Ilya Voinov</author>
                <description></description>
                <version>0.1.0</version>
            </Iwe_Subject>
        </modules>
    </global>
</config>
