etc
design
design/admin
design/frontend
design/admin/default
design/frontend/default
design/admin/default/layouts
design/frontend/default/layouts
design/admin/default/templates
design/frontend/default/templates
design/admin/default/skin
design/frontend/default/skin
i18n
install
Model
Block
Controller
Resource