/* 
    Document   : style
    Created on : Jul 12, 2011, 9:08:10 AM
    Author     : s.kolodyazhnyy
    Description:
        Sample style file
*/

@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow&v2);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700&v2);

a { color: #3399aa; }
body, table { font-family: Arial; font-size: 13px; }
p { text-align: justify; }

h1 { font-weight: normal; font-size: 26px; }
h2 { font-weight: normal; font-size: 20px; }
h3 { font-weight: normal; font-size: 16px; }
h4 { font-weight: bold; font-size: 13px; }

blockquote { border-left: 4px solid #ddd; padding-left: 10px; margin-left: 5px; font-style: italic; }

.Highlight { color: #13798A; }
.Warning   { color: #13798A; }
.Note	   { font-size: 11px; }