<?xml version="1.0" encoding="UTF-8"?>
<config>
    <global>
		<modules>
            <Iwe_Way translate="description">
                <author>Ilya Voinov</author>
                <description></description>
                <version>1.0.2</version>
            </Iwe_Way>
        </modules>
    </global>
</config>
